body { text-align: justify; font-family: "Droid Serif", "DejaVu Serif", serif;}
h1, h2, h3, h4, h5, h6 { text-align: left; }
code { border: none; }
.footnote { font-size: small; }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; margin: auto; min-width: 20%; }
tr { border-bottom: solid 1px; }
tr:last-child { border-bottom: solid 2px; }
th:nth-child(even), td:nth-child(even) { background-color: #fafafa; }
th { padding: 0 0.5em; }
td { padding: 0 5px; vertical-align: top; }

/* Only when printing */
@media print {
	body {
		width: auto; /* Fixes rendering issues */ 
		font-family: "Droid Serif", "DejaVu Serif", serif; /* Ensures serif for printing */
		font-size: 80%; /* More text on the page */
	}
	
	a { text-decoration: none; }
	.footnote-backref { display: none; }
}
