body { text-align: justify; font-family: "Droid Serif", "DejaVu Serif", serif;}
h1, h2, h3, h4, h5, h6 { text-align: left; }
code { border: none; }
.footnote { font-size: small; }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; margin: auto; min-width: 20%; }
tr { border-bottom: solid 1px; }
tr:last-child { border-bottom: solid 2px; }
th:nth-child(even), td:nth-child(even) { background-color: #fafafa; }
th { padding: 0 0.5em; }
td { padding: 0 5px; vertical-align: top; }

hr.invisible { clear: both; border: none; }


/* Funny stuff is funny */
blockquote.funquote {
  border: none;
  float: right;

  text-align: left;     /* 'justify' might be prettier on long texts */
  font-style: italic;
  line-height: 1.1em;
  color: #a8a8a8;

  transform: rotate(-7deg);

  /* Stuffs for the quotation mark decorations */
  /* It seems that Firefox only rotates positioned :before and :after elements */
  position: relative;   /* Makes this block the reference for positioned children */
  padding-left: 2em;    /* Moves the left quote to the left */
  padding-right: 2em;   /* Moves the right quote to the right */
}

blockquote.funquote:before,
blockquote.funquote:after { position: absolute; font-size: 3em; color: #d9d9d9; transform: rotate(14deg); }
blockquote.funquote:before { top: 0; left: 0; content: '“'; }
blockquote.funquote:after { bottom: 0; right: 0; content: '„'; }
blockquote.funquote.cite:after { bottom: 0.6em; } /* Better effect when the author is cited */
blockquote.funquote cite { display: block; text-align: right; color: #d9d9d9; margin: 0.5em 0.5em 0 0; }
blockquote.funquote cite:before { content: '— '; }

blockquote.funquote.doge p { font-family: 'Comic Sans MS'; display: inline-block; width: 100%; margin: 0.5em 0;}


/* Only when printing */
@media print {
  body {
    width: auto; /* Fixes rendering issues */ 
    font-family: "Droid Serif", "DejaVu Serif", serif; /* Ensures serif for printing */
    font-size: 80%; /* More text on the page */
  }
  
  .footnote { text-align: left; }

  a { text-decoration: none; }
  .footnote-backref { display: none; }

  blockquote.funquote,
  blockquote.funquote * { color: #a8a8a8 !important; }
  blockquote.funquote:before,
  blockquote.funquote:after,
  blockquote.funquote cite { color: #d9d9d9 !important; }
}